In [1]:
import pandas as pd
import numpy as np

In [13]:
# load the dataset
warriner_df = pd.read_csv('../data/wordlists/warriner.csv', low_memory=False)

print(warriner_df.head())
print(warriner_df.info()) 

# clean the column names (remove spaces, make lowercase)
warriner_df.columns = [col.strip().lower().replace('.', '_') for col in warriner_df.columns]
warriner_df = warriner_df.loc[:, ~warriner_df.columns.str.contains('^Unnamed')]

# print column names to inspect them
print("Column names after cleaning:", warriner_df.columns.tolist())

# select only the columns we need (word and the main valence, arousal, dominance scores)
# use lowercase names since we converted all column names to lowercase
warriner_clean = warriner_df[['word', 'v_mean_sum', 'a_mean_sum', 'd_mean_sum']]

# rename columns
warriner_clean = warriner_clean.rename(columns={
    'v_mean_sum': 'valence_score',
    'a_mean_sum': 'arousal_score',
    'd_mean_sum': 'dominance_score'
})

# check for and handle missing values 
print(warriner_clean.isnull().sum())
warriner_clean = warriner_clean.dropna()

# normalize the scores to match with the current scale if needed
print("Valence range:", warriner_clean['valence_score'].min(), "to", warriner_clean['valence_score'].max())
print("Arousal range:", warriner_clean['arousal_score'].min(), "to", warriner_clean['arousal_score'].max())
print("Dominance range:", warriner_clean['dominance_score'].min(), "to", warriner_clean['dominance_score'].max())

# save the cleaned dataset

warriner_clean.to_csv('../data/cleaned/warriner_clean.csv', index=False)

          Word                   V.Mean.Sum  V.SD.Sum  V.Rat.Sum  A.Mean.Sum  \
0     1   aardvark                     6.26      2.21         19        2.41
1     2   abalone                      5.30      1.59         20        2.65
2     3   abandon                      2.84      1.54         19        3.73
3     4   abandonment                  2.63      1.74         19        4.95
4     5   abbey                        5.85      1.69         20        2.20

   A.SD.Sum  A.Rat.Sum  D.Mean.Sum  D.SD.Sum  ...  A.Rat.L  A.Mean.H   A.SD.H  \
0      1.40         22        4.27      1.75  ...       11      2.55   1.29
1      1.90         20        4.95      1.79  ...       12      2.38   1.92
2      2.43         22        3.32      2.50  ...       11      3.82   2.14
3      2.64         21        2.64      1.81  ...       14      5.29   2.63
4      1.70         20        5.00      2.02  ...        9      2.55   1.92

   A.Rat.H  D.Mean.L  D.SD.L  D.Rat.L  D.Mean.H  D.SD.H  D.Rat.H
0       11      4.12    1.64        8      4.43    1.99        7
1        8      5.55    2.21       11      4.36    1.03       11
2       11      2.77    2.09       13      4.11    2.93        9
3        7      2.31    1.45       16      3.08    2.19       12
4       11      4.83    2.18       18      5.43    1.62        7

[5 rows x 65 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13915 entries, 0 to 13914
Data columns (total 65 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0                           13915 non-null  int64
 1    Word                   13915 non-null  object
 2    V.Mean.Sum             13915 non-null  float64
 3    V.SD.Sum               13915 non-null  float64
 4    V.Rat.Sum              13915 non-null  int64
 5    A.Mean.Sum             13915 non-null  float64
 6    A.SD.Sum               13915 non-null  float64
 7    A.Rat.Sum              13915 non-null  int64
 8    D.Mean.Sum             13915 non-null  float64
 9    D.SD.Sum               13915 non-null  float64
 10   D.Rat.Sum              13915 non-null  int64
 11   V.Mean.M               13915 non-null  float64
 12   V.SD.M                 13915 non-null  float64
 13   V.Rat.M                13915 non-null  int64
 14   V.Mean.F               13915 non-null  float64
 15   V.SD.F                 13915 non-null  float64
 16   V.Rat.F                13915 non-null  int64
 17   A.Mean.M               13915 non-null  float64
 18   A.SD.M                 13915 non-null  float64
 19   A.Rat.M                13915 non-null  int64
 20   A.Mean.F               13915 non-null  float64
 21   A.SD.F                 13915 non-null  float64
 22   A.Rat.F                13915 non-null  int64
 23   D.Mean.M               13915 non-null  float64
 24   D.SD.M                 13915 non-null  float64
 25   D.Rat.M                13915 non-null  int64
 26   D.Mean.F               13915 non-null  float64
 27   D.SD.F                 13915 non-null  float64
 28   D.Rat.F                13915 non-null  int64
 29   V.Mean.Y               13915 non-null  float64
 30   V.SD.Y                 13915 non-null  float64
 31   V.Rat.Y                13915 non-null  int64
 32   V.Mean.O               13915 non-null  float64
 33   V.SD.O                 13915 non-null  float64
 34   V.Rat.O                13915 non-null  int64
 35   A.Mean.Y               13915 non-null  float64
 36   A.SD.Y                 13915 non-null  float64
 37   A.Rat.Y                13915 non-null  int64
 38   A.Mean.O               13915 non-null  float64
 39   A.SD.O                 13915 non-null  float64
 40   A.Rat.O                13915 non-null  int64
 41   D.Mean.Y               13915 non-null  float64
 42   D.SD.Y                 13915 non-null  float64
 43   D.Rat.Y                13915 non-null  int64
 44   D.Mean.O               13915 non-null  float64
 45   D.SD.O                 13915 non-null  float64
 46   D.Rat.O                13915 non-null  int64
 47   V.Mean.L               13915 non-null  float64
 48   V.SD.L                 13915 non-null  float64
 49   V.Rat.L                13915 non-null  int64
 50   V.Mean.H               13915 non-null  float64
 51   V.SD.H                 13915 non-null  float64
 52   V.Rat.H                13915 non-null  int64
 53   A.Mean.L               13915 non-null  float64
 54   A.SD.L                 13915 non-null  float64
 55   A.Rat.L                13915 non-null  int64
 56   A.Mean.H               13915 non-null  float64
 57   A.SD.H                 13915 non-null  object
 58   A.Rat.H                13915 non-null  int64
 59   D.Mean.L               13915 non-null  float64
 60   D.SD.L                 13915 non-null  float64
 61   D.Rat.L                13915 non-null  int64
 62   D.Mean.H               13915 non-null  float64
 63   D.SD.H                 13915 non-null  float64
 64   D.Rat.H                13915 non-null  int64
dtypes: float64(41), int64(22), object(2)
memory usage: 6.9+ MB
None
Column names after cleaning: ['', 'word', 'v_mean_sum', 'v_sd_sum', 'v_rat_sum', 'a_mean_sum', 'a_sd_sum', 'a_rat_sum', 'd_mean_sum', 'd_sd_sum', 'd_rat_sum', 'v_mean_m', 'v_sd_m', 'v_rat_m', 'v_mean_f', 'v_sd_f', 'v_rat_f', 'a_mean_m', 'a_sd_m', 'a_rat_m', 'a_mean_f', 'a_sd_f', 'a_rat_f', 'd_mean_m', 'd_sd_m', 'd_rat_m', 'd_mean_f', 'd_sd_f', 'd_rat_f', 'v_mean_y', 'v_sd_y', 'v_rat_y', 'v_mean_o', 'v_sd_o', 'v_rat_o', 'a_mean_y', 'a_sd_y', 'a_rat_y', 'a_mean_o', 'a_sd_o', 'a_rat_o', 'd_mean_y', 'd_sd_y', 'd_rat_y', 'd_mean_o', 'd_sd_o', 'd_rat_o', 'v_mean_l', 'v_sd_l', 'v_rat_l', 'v_mean_h', 'v_sd_h', 'v_rat_h', 'a_mean_l', 'a_sd_l', 'a_rat_l', 'a_mean_h', 'a_sd_h', 'a_rat_h', 'd_mean_l', 'd_sd_l', 'd_rat_l', 'd_mean_h', 'd_sd_h', 'd_rat_h']
word               0
valence_score      0
arousal_score      0
dominance_score    0
dtype: int64
Valence range: 1.26 to 8.53
Arousal range: 1.6 to 7.79
Dominance range: 1.68 to 7.9